* {
    /* 기본여백제거 */
    margin: 0;
    padding: 0;
    /* rem 사용을 위한 폰트사이즈 지정 */
    font-size: 10px;
}
html{
    background: linear-gradient(100deg, #b7bcff, #f8d7f2);
    background-repeat: no-repeat;
}
body {
    /* 초반에 내용이 적을 때 높이기 부족한 경우 해결책 필요
    width: 100vw;
    height: 100vh; */
    background: linear-gradient(100deg, #b7bcff, #f8d7f2);
    background-repeat: no-repeat;
}

/* 최상위 */
#container {
    width: 90%;
    /* 중앙정렬 */
    margin: 0 auto;
}

a:link,
:visited {
    color: black;
    text-decoration: none;
}

/* 색상 */
.skyblue {
    background: rgb(130, 207, 252);
}

.black {
    background: black;
}

/* header */




/* main */
main {
    width: 90%;
    margin: 0 auto;
    margin-top: 5rem;
}

#introsection {
    margin: 0 auto;
}

.item {
    background-color: rgba(255, 255, 255, .5);
    /* 둥근 정도는 반응형이 아니니까 px로 조정 */
    border-radius: 15px;
    /* 내부박스는 안으로 들어오게 */
    padding: 1.5rem;
    margin: 1.5rem;
}

#profile {
    width: 12rem;
    height: 12rem;
    border-radius: 100%;
    border: 2px solid rgb(203, 147, 255);

    background-image: url('../asset/profile/sparta.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 1.5rem;
}

#introsection .card p {
    font-size: 3rem;
    font-weight: 700;
    margin-left: 1rem;
}

.coretext {
    background-color: rgb(255, 231, 94);
    font-size: 3rem;
    font-weight: 700;
}

.card {
    position: relative;
    background: white;
    border-radius: 15px;
    padding: 1rem;
    overflow: hidden;
}

#introsection .card img {
    width: 2.5rem;
    vertical-align: middle;
}

#introsection .card span:last-child {
    font-size: 2.4rem;
    vertical-align: middle;
}

#myprojectsection {
    margin: 0 auto;
    margin-top: 1.5rem;
}

.imagesection {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.imagesection img {
    width: 100%;
}

.mask {
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 0, 0, .5);
    top: 0;
    opacity: 0%;
    transition: 1s linear;
}

.textsection{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.textsection p {
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff; text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px orange, 0 0 82px orange, 0 0 92px orange, 0 0 102px orange, 0 0 151px orange;
    /* text-shadow: 
    0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 
    0 0 24px yellow, 0 0 41px yellow, 0 0 46px yellow, 0 0 51px yellow, 0 0 75px yellow; */
}

.mask:hover{
    opacity: 100%;
}

/* footer */
footer {
    margin: 0 auto;
    text-align: center;
    margin-bottom: 1.5rem;
}
/* 모바일 보통 320px부터 체크*/
@media (max-width:767px) {

    /*메인 푸터 대제목*/
    main>p:nth-child(1){
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    
    main>p:nth-child(3){
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .textsection p {
        font-size: 1.8rem;
        font-weight: 700;
        color: #fff; text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px orange, 0 0 82px orange, 0 0 92px orange, 0 0 102px orange, 0 0 151px orange;
        /* text-shadow: 
        0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 
        0 0 24px yellow, 0 0 41px yellow, 0 0 46px yellow, 0 0 51px yellow, 0 0 75px yellow; */
    }
    #bookText{
        font-size: 3rem;
    }
    /*footer*/
    footer img {
        width: 1.5rem;
        vertical-align: middle;
    }

    footer span {
        font-size: 1.2rem;
        vertical-align: middle;
        font-weight: bold;
    }
}

/* 태블릿 */
@media (min-width:768px) and (max-width:1024px) {

    /*메인 푸터 대제목*/
    main>p:nth-child(1){
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    
    main>p:nth-child(3){
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    
    .textsection p {
        font-size: 3.6rem;
        font-weight: 700;
        color: #fff; text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px orange, 0 0 82px orange, 0 0 92px orange, 0 0 102px orange, 0 0 151px orange;
        /* text-shadow: 
        0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 
        0 0 24px yellow, 0 0 41px yellow, 0 0 46px yellow, 0 0 51px yellow, 0 0 75px yellow; */
    }
    #bookText{
        font-size: 6rem;
    }

    /*footer*/
    footer img {
        width: 2.5rem;
        vertical-align: middle;
    }

    footer span {
        font-size: 2.2rem;
        vertical-align: middle;
        font-weight: bold;
    }
}

/* PC */
@media (min-width:1025px) {
    main>p{
        text-align: center;
        font-size: 3rem;
        font-weight: 700;
    }

    main{
        width: 100%;
    }
    
    footer{
        float: left;
        width: 100%;
    }
    #introsection{
        max-width: 34rem;
        margin: 0 auto;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .textsection p {
        font-size: 7.2rem;
        font-weight: 700;
        color: #fff; text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px orange, 0 0 82px orange, 0 0 92px orange, 0 0 102px orange, 0 0 151px orange;
        /* text-shadow: 
        0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 
        0 0 24px yellow, 0 0 41px yellow, 0 0 46px yellow, 0 0 51px yellow, 0 0 75px yellow; */
    }
    #bookText{
        font-size: 6rem;
        font-weight: 700;
        color: #fff; text-shadow: /* White glow */ 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, /* Green glow */ 0 0 42px orange, 0 0 82px orange, 0 0 92px orange, 0 0 102px orange, 0 0 151px orange;
    }
    #myprojectsection .item{
        max-width: 40rem;
        float: left;
    }

    #myprojectsection {
        width: 100%;
        margin: 0 auto;
    }
    #myprojectsection::after{
        clear:both;
        display:block;
        content: '';
    }
    .row::after{
        clear:both;
        display:block;
        content: '';
    }
    .row{
        width: 94rem;
        margin: 0 auto;
        padding-left: 2rem;
    }
    .row .item{
        width: 43rem;
        height: 43.2rem;
    }
    .row .item .card{
        height: 95%;
    }
    .row .item .card .imagesection{
        height: 100%;
    }
    .row .item .card .imagesection img{
        height: 100%;
    }
    .textsection p {
        font-size: 3rem;
        font-weight: 700;
        color: #fff; text-shadow: /* White glow */ 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, /* Green glow */ 0 0 42px orange, 0 0 82px orange, 0 0 92px orange, 0 0 102px orange, 0 0 151px orange;
        /* text-shadow: 
        0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 
        0 0 24px yellow, 0 0 41px yellow, 0 0 46px yellow, 0 0 51px yellow, 0 0 75px yellow; */
    }
    .row:nth-child(1){
        margin-top: 1rem;
    }

    /*footer*/

    footer img {
        width: 2.8rem;
        vertical-align: middle;
    }

    footer span {
        font-size: 2.5rem;
        vertical-align: middle;
        font-weight: bold;
    }
}